<!DOCTYPE html5>
<html>
    <head>
        <title>Headline History</title>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46707355-1', 'headline-history.com');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="wrap">
            <header>
                <h1>Headline History (Beta)</h1>
            </header>
            {% block content %}{% endblock %}
            <footer>
                도와준 사람들 : 김승연, 송시후, 변규홍, 이유진, 이윤석, 노대영, 명미소, 설진석, 공정언론(익명)
            </footer>
        </div>
    </body>
</html>
